[2013-02-25 15:37] sokra opened #1 "Directory structure"
Refactor to a better drectory structure:

[code]

[2013-02-25 15:55] sokra opened #2 "Test with testling"

[2013-02-25 17:40] sokra opened #3 "Merge xxx-browserify or not?"
Should the xxx-browserify modules and authors merged into this package?

Pro:
- less fragmentation
- more maintainers for all node buildin libs
- easier sharing of small common fragments, i.e. shims
- easier to maintain

Contra:
- less modular
- "holy fuck. why are there 20 files and 1000s of lines of code in one repo"

Problems merging:
- xxx-browserify modules could not longer be used alone
  -

[2013-02-25 17:59] #1 closed, assigned to nobody

[2013-02-27 08:13] #2 closed, assigned to nobody

[2013-02-27 08:21] sokra opened #5 "Tests status"
| module | tested | status one browser | status all browsers |
| --- | --- | --- | --- |
| events | yes | pass |  |
| punycode | yes | pass |  |
| querystring | yes | fail |  |
| timers | some |  |  |
| buffer | separate |  |  |
| vm | separate |  |  |
| zlib | separate |  |  |
| crypto | some separate |  |  |
| assert | no |  |  |
| child_process | no |  |  |
| http/https | no |  |  |
| path | no

[2013-03-11 22:27] justmoon opened #6 "Add EventEmitter "removeListener" event"
When an event listener is removed the EventEmitter class should fire the "remoteListener" event.

This was added in Node.js 0.10, see:

https://github.com/joyent/node/commit/84221fd

Please let me know if this feature is desired and if so I'll gladly provide a pull request.

[2013-12-12 08:55] balupton opened #7 "Streams are node 0.8, rather than 0.10, so no Transform Stream"
Missing http://nodejs.org/api/stream.html#stream_class_stream_transform

This means that I need to include readable-stream for webpack to work, which is okay I guess, as I already include that for node 0.8 anyway.

[2014-03-18 21:40] #3 closed, assigned to nobody

[2014-03-18 21:40] #5 closed, assigned to nobody

[2014-03-18 21:40] #6 closed, assigned to nobody

[2014-03-18 21:42] #7 closed, assigned to nobody

[2014-05-20 16:15] lencioni opened #9 "Unable to commit my node_modules"
I am bringing in webpack via npm, and when I try to commit my node_modules, I get the following error:

Essentially, the `node_modules/webpack/node_modules/node-libs-browser/node_modules/url/node_modules/punycode/vendor/docdown` directory has a `.git` file in it. It looks like this problem has been fixed in newer versions. However, node-libs-browser is using an older version of the url package tha

[2014-05-21 05:40] #9 closed, assigned to nobody

[2014-07-25 08:32] davedoesdev opened #11 "Request update crypto-browserify to 3.0.1"
It fixed a SHA bug (https://github.com/dominictarr/sha.js/pull/4)

Note the 3.0 series doesn't support the weak `Math.random` any more, it relies on `getRandomValues` so won't work on older browsers.

[2014-07-25 16:41] #11 closed, assigned to nobody

[2014-10-08 18:23] jhnns opened #15 "Critical dependency since crypto-browserify@3.2.6"
@dominictarr introduced with https://github.com/dominictarr/crypto-browserify/commit/9284566e7e8e468c0d30bf946ed8342494836c8d a change which triggers a critical dependency warning due to a dynamic require.

What should we do @sokra? ^^

[2014-10-09 14:10] #15 closed, assigned to nobody

[2015-02-15 16:44] kamoqq opened #17 "License of dependent package is unknown"
Please update the crypto-browserify version of the dependent packages to the latest.
License of ripemd160@0.2.0 of dependent packages of crypto-browserify@3.3.0 is unknown.
It will be solved by the crypto-browserify to the latest version.

[2015-03-04 23:08] seanadkinson opened #19 "0.4.2: diffie-hellman cannot find ./lib/primes"
Hello,

Looks like the update from a couple hours ago could be causing an issue with a downstream dependency.

Dependencies go:
* `webpack 1.5.1` depends on `node-libs-browser ~0.4.0`
* `node-libs-browser 0.4.2` depends on `crypto-browserify ^3.9.13`
* `crypto-browserify 3.9.13` depends on `diffie-hellman ^3.0.1`
* `diffie-hellman 3.0.1` breaks

Error in browser is: `Cannot find module "./lib/prim

[2015-03-04 23:16] seanadkinson commented on #19
To downgrade and workaround temporarily (for anyone else that finds this thread and has the same issue:

[code]

This will add an explicit dependency in your `package.json` for `node-libs-browser@0.4.1`, so be sure to remove in that future when this issue is resolved.

[2015-03-05 18:10] gnarf opened #20 "Version bumps causing problems with fake timers in tests."
The new version bump for process 0.10.x is causing sinon fake timers + bluebird + webpack to make all bluebird promises "freeze" (because it's now using `setTimeout` instead of the other method it used to (mutation/etc selection process had in 0.8)

Having a hard time figuring how how to undo this problem because webpack itself lists the dep on node-libs-browser to be `~0.4.0` and the bump here is

[2015-03-05 18:15] gnarf commented on #20
Basically doing this:

[code]

Is how I'm fixing it right now, and it works.

[2015-03-05 18:19] sokra commented on #20
This should propably be fixed in simon or bluebird... Am I right?

[2015-03-05 18:26] gnarf commented on #20
Perhaps, but I think this is an artifact coming from the "browserifying" of it.  The `process.nextTick` implementation in process could hold onto the "real" setTimeout and call it.  Or maybe bluebird could do a better job of detecting fake node "process" and revert back to using mutation observers?  CC @petkaantonov

[2015-03-05 18:30] gnarf commented on #20
For reference https://github.com/defunctzombie/node-process/blob/master/browser.js#L28 is the cause of the problem -- the old version in 0.8.0 used a much more clever way that avoided calling the sinon fake timer here: https://github.com/defunctzombie/node-process/blob/v0.8.0/browser.js#L14

[2015-03-05 18:32] petkaantonov commented on #20
I don't think this is the issue given https://github.com/petkaantonov/bluebird/blob/master/src/util.js#L280-L281

[2015-03-05 18:35] benjamingr commented on #20
Also worth mentioning you can always tell bluebird explicitly how to schedule via `Promise.setScheduler` - although like Petka said it's not bluebird misdetecting here.

[2015-03-05 18:36] gnarf commented on #20
@petkaantonov then why does installing process 0.8.0 again inside the webpack deps fix the problem?

[2015-03-05 18:39] sokra commented on #20
@gnarf can you provide a test case so we can play around with it?

[2015-03-05 18:39] petkaantonov commented on #20
I didn't look into the real issue here, I was just pointing out that recent versions of bluebird check for authentic process object that cannot be faked without access to native v8 api.

[2015-03-05 18:41] gnarf commented on #20
Oh - when did that check get added?  Perhaps I'm still behind on bluebird somewhere.

FWIW this test case fails:

[code]

[2015-03-05 18:42] petkaantonov commented on #20
It's in 2.9.6+

[2015-03-05 18:44] sokra commented on #20
sinon fake timers do stop `process.nextTick` until you call `timers.tick(ms)`, if I get the documentation correctly...

[2015-03-05 18:47] gnarf commented on #20
Except that same test passes with process 0.8.0 instead of 0.10.0 --- it also passes with bluebird 2.9.13+ - so I think I know the answer -- dependency hunt time to figure out what isn't up to date with bluebird

Sorry to take this up as an issue here instead of in bluebird! Thanks for the support @petkaantonov and @sokra

[2015-03-05 18:47] #20 closed

[2015-03-14 22:28] timcash commented on #15
I am having this problem with "crypto-browserify": "^3.9.13", and webpack 1.7.3

[2015-04-01 22:22] dozoisch commented on #19
@sokra Wow, this was kind of unexpected from upgrading my webpack version... Everything that I have relied on that crypto shim is now broken. The version there does have any AES function implemented

[2015-04-24 14:37] KidkArolis commented on #20
I'm running into the same issue with when.js + webpack + sinon.useFakeTimers - all promises seem to break. Does bluebird do something extra to detect it's not actually a node env @gnarf ?

[2015-04-24 14:38] gnarf commented on #20
Make sure to use latest bluebird?
On Apr 24, 2015 10:37 AM, "Karolis Narkevicius" <notifications@github.com>
wrote:

[2015-04-24 14:39] gnarf commented on #20
Sorry, misread... Look at the scheduler code in bluebird.  The node process
object has a special to string value so you can detect it is node
 On Apr 24, 2015 10:38 AM, "Corey Frang" <gnarf37@gmail.com> wrote:

[2015-06-18 12:15] be-dcodeit opened #26 "Modules not found"
When running webpack-dev-server 1.9.0, we get the following errors from node-libs-browser:

ERROR in ./~/node-libs-browser/~/crypto-browserify/pbkdf2.js
Module not found: Error: Cannot resolve module 'pbkdf2-compat/pbkdf2' in H:\XXX\node_modules\node-libs-browser\node_modules\crypto-browserify
 @ ./~/node-libs-browser/~/crypto-browserify/pbkdf2.js 1:19-50

ERROR in ./~/node-libs-browser/~/crypto-b

[2015-06-18 19:57] mvayngrib opened #27 "alternative mapping for react-native"
I'm trying to use this with react-native, but with additional shims for [fs](https://www.npmjs.org/package/react-native-level-fs), [dgram](https://www.npmjs.org/package/react-native-udp), [dns.js](https://www.npmjs.org/package/dns.js) and [net](https://www.npmjs.org/package/utp). Right now I'm using a [fork](https://github.com/webpack/node-libs-browser/compare/master...mvayngrib:master) of this re

[2015-06-18 23:13] mvayngrib commented on #27
maybe that can be an option in webpack config - the ability to provide an alternate node-libs-browser?

[2015-06-30 00:28] jannavarro opened #29 "fs undefined"
In my js file I have:

var fs = require('fs');

when I tried fs.readFileSync(..somefile);

Error is: fs.readFileSync is not a function

Is there any setup needed?

[2015-06-30 11:01] zenflow commented on #29
The readme says under __Module exports `fs: null // core module without browser replacement`

Also, see the [relevant source code](https://github.com/webpack/node-libs-browser/blob/master/index.js#L12)

So, `fs`, and a handful of other node core libs that are exported in this library, are not in any way implemented for browser.

What were you expecting this to do browser-side anyways?

[2015-06-30 16:08] jannavarro commented on #29
@zenflow Thank you. I saw the readme; I just thought that setting it to null means that some of the node-libs-browser code would set it to a default value. I am looking at atom editor's fs-plus [code] (https://github.com/atom/fs-plus/blob/master/src/fs-plus.coffee#L312) and they are using nodejs fs inside their code which is reading some file configuration on the client-side so I thought I can use

[2015-06-30 17:20] zenflow commented on #29
Yup.. very special. Read a bit about [electron](https://github.com/atom/electron).. formerly known as atom-shell.

It's used to make desktop apps. It allows you to use both (a) nodejs API's and (b) browser API's together. There is no browser-side separate from server-side. It's just one side, and it's both brower-side and server-side. Does that make sense?

If you're making a web-app (as opposed t

[2015-06-30 18:01] zenflow opened #30 "Needs better documentation"
@webpack

This repo would ideally give a bit more details in the readme, for easy reference.

* which modules are implemented (for example, `'process'`) and which are not (for example, `'fs'`)
* how the implemented modules differ from their node counterparts

I would gladly volunteer to take this task if it pleases you.

I'll note that it's of particular importance to me that the `browser` member

[2015-07-03 13:12] nickdima opened #31 "global polyfill"
Not sure if this is the right place to post this issue.
According to the webpack docs `global` is polyfilled by default but it turns out to be `undefined` in my build.
Am I missing something?

[2015-07-04 20:23] zenflow commented on #30
@sokra I'll take no response as a thumbs-up to do this and submit a PR :)

[2015-07-05 06:37] sokra commented on #30
:+1:

This package only references the individual npm packages for the browser variants. For detailed documentation you should be able the link to the readmes.

[2015-07-05 20:56] jannavarro commented on #29
@zenflow I appreciate the comprehensive explanation as I am new to web programming and the info you gave me really help.

I will be translating this to a desktop app but I am first building the core structure of my app in pure javascript so that I can use it in different web frameworks such as React and Angular depending on which would fit my goals for the app. I will be using fs the same way as a

[2015-07-05 20:56] #29 closed

[2015-07-07 03:05] zenflow commented on #29
@jannavarro My pleasure :)

Go team open-source!

[2015-07-17 05:52] zenflow commented on #30
@sokra: ping

[2015-07-30 10:04] designreact opened #34 "crypto-browserify version needs update to work with some (?) webpack builds"
Given "crypto-browserify": "~3.2.6",

Bundled (React) Webpack output errors with: 'Uncaught ReferenceError: _crypto is not defined'

This is I believe fixed in crypto-browserify 3.9.14

https://github.com/crypto-browserify/crypto-browserify/commit/30d96df5f6cdbe8ecdb4e7ef584a218ba3e302e2

Any chance of an update?

[2015-07-30 10:22] designreact commented on #34
... I created a pull request https://github.com/webpack/node-libs-browser/pull/35

[2015-08-06 13:47] yurynix commented on #34
Also more functions are implemented there, such as `createVerify`, which are needed for libs such as `jsonwebtoken`.

[2015-10-01 10:36] PedroNorte commented on #17
+1

[2015-10-13 21:15] #30 closed

[2015-10-14 10:19] sokra commented on #27
You can provide alternatives via `resolve.alias` option.

[2015-12-11 15:54] QuantumInformation commented on #3
Can you pipe webpack to testling instead of browserify?

[2015-12-21 08:24] #34 closed

[2016-01-12 18:54] martindederer opened #37 "Dependency "crypto-browserify 3.2.6" is broken"
Version 0.5.3 depends on version 3.2.6 of [crypto-browserify](https://github.com/crypto-browserify). That specific [crypto-browserify](https://github.com/crypto-browserify) version [contains an error](https://github.com/crypto-browserify/crypto-browserify/blob/v3.2.6/rng.js#L6) which causes trouble in my current project when processing its source with babel 6.

Would you mind updating to a crypto-

[2016-01-12 18:58] martindederer commented on #37
I can provide a PR if required.

[2016-01-13 09:58] martindederer commented on #37
This is a duplicate of #34.

[2016-01-13 09:58] #37 closed

[2016-01-26 18:47] vihangm commented on #19
Fixed. See https://github.com/crypto-browserify/diffie-hellman/pull/21

[2016-04-28 18:53] pruett commented on #19
I receive this same error using `v2.1.0-beta6`. has this been fixed?

[2016-05-05 12:32] feross opened #38 "Use stream-http"
Browserify has stopped using `http-browserify` and moved to [`stream-http`](https://www.npmjs.com/package/stream-http) which actually supports true response streaming and has lots of bug fixes.

webpack should probably switch over too.

This would fix [this bug](https://github.com/feross/webtorrent/issues/768#issuecomment-214949683) when WebTorrent is built with webpack.

cc @jhiesey

[2016-05-11 23:34] bergr01 opened #39 "Any chance of updating latest pre-1.0 version to use newer version of buffer?"
Hi
I'm currently using latest stable version of webpack (1.13.0) that relies on "node-libs-browser": ">= 0.4.0 <=0.6.0" which in turn uses "buffer": "^3.0.3". Any chance of bumping that up to utilize buffer 4.3.0 that's used by node-libs-browser v1.0? I'm running into an issue that was resolved in buffer since 3.0.3 and would prefer not to edit the buffer source under node_modules manually on x of

[2016-05-17 01:24] feross commented on #39
I posted a similar issue about the need to update `stream-http`. https://github.com/webpack/node-libs-browser/issues/38

I don't even use webpack, so I could care less. But I help maintain buffer and webtorrent and both have seen opened issues by webpack users complaining about already fixed bugs because webpack is using old versions of buffer and stream-http.

[2016-05-17 01:27] feross commented on #39
Oh, misunderstood this issue. The latest buffer is already in `package.json`. You're asking them to bump an old version. Good luck with that.

[2016-05-17 18:40] UnsungHero97 commented on #19
still broken in `webpack@2.1.0-beta.7`

[2016-06-14 02:58] terinjokes commented on #38
:+1: I `npm install`ed webpack for the first time today and was shocked when I saw `http-browserify` still being used by `node-libs-browser`.

[2016-06-23 08:54] edi9999 opened #40 "Update to crypto-browserify 3.11.0 in your 0.5.3 version"
The version 0.5.3 of node-libs-browser currently depends on :

`"crypto-browserify": "^3.2.6",`

Which it self depends on `ripemd160@0.2.0` which was unlicensed.
This poses a problem for any webpack users since webpack uses version 0.5.3 of node-libs-browser.

Can you please release a new 0.5.4 version with crypto-browseriify 3.11.0 ?

This way, all sub licenses of webpack are conform with the lic

[2016-07-09 13:49] jorawarsingh commented on #19
@UnsungHero97  this work well just want to point that by defualt node_modules are included so you don't need to add
include: [
    /node_modules/
  ]

[2016-07-11 02:16] sl-church commented on #40
I second this request.  I am trying to incorporate JWT signing in an app and 3.2.6 does not support signing while the latest version does.  Currently I just install the latest version with npm and delete the version under node-libs-browser.  This works but I have to do the deletion every time I install a package.

Thanks.

[2016-08-16 00:41] terinjokes commented on #19
@UnsungHero97 The version of `node-libs-browser` used by Webpack 2 was updated back in [January](https://github.com/webpack/webpack/commit/186d0da5ce1bddc73df8d1337985b6ff92ca5cfb) (unfortunately, the v1 branch still hasn't upgraded). In any case, by the time `2.1.0-beta.7` was released the version of `crypto-browserify` should have had the fixes need for diffie-hellman.

If you're still having th

[2016-08-16 00:44] terinjokes commented on #17
This has been resolved (for Webpack 2) at some point. `crypto-browserify` now includes `ripemd160@1.0.01` which defines the license as the 3-Clause BSD.

[2016-08-16 00:51] terinjokes commented on #40
@sokra There's a handful of issues asking for a `0.5.4` release. Alternatively, is there a reason to not upgrade the dependency of Webpack v1 to `node-libs-browser@^1.0.0`?

[2016-08-18 08:46] orlandodemauro commented on #39
@bergr01 issue fixed in https://github.com/webpack/node-libs-browser/pull/42. new node-libs-browser package published (v0.6.0) with buffer v^4.9.0 dependency. it will be automatically picked by webpack 1.13.0. This issue can be closed

[2016-08-18 09:16] Offirmo opened #43 "npm ERR! No compatible version found: node-libs-browser@^0.6.0"
Doing a fresh npm install this morning :

[code]

This is breaking npm install

Did the new 0.6.0 get pushed to npm ? Who is referencing it ? (most likely babel)

[2016-08-18 09:22] Offirmo commented on #43
most likely related to https://github.com/webpack/node-libs-browser/issues/39#issuecomment-240661614

[2016-08-18 09:22] Offirmo commented on #39
@orlandodemauro I have an install issue since your update https://github.com/webpack/node-libs-browser/issues/43

[2016-08-18 10:16] jaylone commented on #43
yeah. I found that node-libs-browser@0.6.0 was not available on npm platform.

[2016-08-18 11:20] sokra commented on #43
It's published. travis has no problem installing it: https://travis-ci.org/webpack/webpack/jobs/153204447#L620

[2016-08-18 11:21] sokra commented on #43
try to flush the npm cache

[2016-08-18 12:13] Offirmo commented on #43
I checked on npm API when reporting, it was not listed at the time.

However, it works now: npm must have had a DB replication glitch.

All clear ! And thanks for all the good work !

[2016-08-18 12:13] #43 closed

[2016-08-28 11:55] RomanGotsiy commented on #38
@terinjokes I believe `https-browserify` should be replaced with `streem-http` too.
Check out this issue https://github.com/substack/https-browserify/issues/6.

[2016-10-12 18:08] connor4312 opened #44 "Investigate replacing `gozala/events` module"
Currently `events` is polyfilled with [gozala/events](https://github.com/Gozala/events). However, it is far behind the latest Node version, and perhaps more concerningly its unit tests are failing and they are not run in browsers, so upgrading it is dangerous (though I have a [PR in to do so](https://github.com/Gozala/events/pull/32)).

Unfortunately it doesn't look like there's other solid isomor

[2016-10-27 14:34] ilarioengler commented on #19
@terinjokes thats my output for npm ls crypto-browserify:

/var/www/html/filecloudprod
└─┬ laravel-elixir-webpack-official@1.0.9
  ├─┬ webpack@2.1.0-beta.22
  │ └─┬ node-libs-browser@1.0.0
  │   └── crypto-browserify@3.11.0
  └─┬ webpack-stream@3.2.0 (git://github.com/jeroennoten/webpack-stream.git#d78a3568e259f9cdbc64c60290639af6ef6d3baf)
    └─┬ webpack@1.13.3
      └─┬ node-libs-browser@0.6.0

[2016-11-03 14:44] jhnns commented on #44
Do you have any specific problem with gozala/events? Where is the API not in parity with node.js?

[2016-11-03 16:05] connor4312 commented on #44
Missing 'features' include:

 - [`eventNames`](https://nodejs.org/api/events.html#events_emitter_eventnames)
 - [`getMaxListeners`](https://nodejs.org/api/events.html#events_emitter_getmaxlisteners)
 - [`prependListener`](https://nodejs.org/api/events.html#events_emitter_prependlistener_eventname_listener)
 - [`prependOnceListener `](https://nodejs.org/api/events.html#events_emitter_prependoncelis

[2016-11-04 16:03] jhnns commented on #44
Ok, maybe let's give the maintainer some time

[2016-11-04 17:27] jhnns opened #45 "Update dependencies"
I did a quick research for breaking changes of outdated modules. This was necessary because it was unclear why @sokra chose to update to 1.0.0 for webpack 2 but not for webpack 1. This is the result:

## Major version bumps (including `0.x` changes)

### buffer

Breaking change was https://github.com/feross/buffer/commit/5daca86b7cd5d2b8ccb167534d47421029f639e9

@fanatid [wrote](https://github.com

[2016-11-04 18:55] SpaceK33z commented on #45
Woah, good research. I agree with your changing to the caret operator.

So the conclusion is that we can upgrade node-libs-browser for webpack v1, or what is the next step?

[2016-11-07 23:26] jhnns commented on #45
Yes, webpack v1 should use the latest node-libs-browser module. The risk of an actual breaking change is very low.

[2016-11-07 23:27] #38 closed

[2016-11-10 02:32] feross commented on #38
Can you publish this to npm so that webpack users can get the update?

[2016-11-12 01:53] feross commented on #38
Ping @sokra – this bug still isn't fixed in webpack because `node-libs-browser` was not published to npm. Can you do that real quick?

[2016-11-12 09:58] RomanGotsiy commented on #38
@feross as a temporal workaround I'm using [`resolve.alias`](https://webpack.github.io/docs/configuration.html#resolve-alias):

[code]

[2016-11-22 23:54] jhnns commented on #45
These versions shipped with `1.1.0`

[2016-11-22 23:54] #45 closed

[2016-11-23 00:14] jhnns commented on #40
We will bump node-libs-browser to `^1.1.0` in webpack-1, see https://github.com/webpack/webpack/issues/3355

[2016-11-23 00:14] #40 closed

[2016-11-23 00:15] jhnns commented on #39
We will bump node-libs-browser to `^1.1.0` in webpack-1, see https://github.com/webpack/webpack/issues/3355

[2016-11-23 00:15] #39 closed

[2016-11-23 00:16] jhnns commented on #17
We will bump node-libs-browser to `^1.1.0` in webpack-1, see https://github.com/webpack/webpack/issues/3355

[2016-11-23 00:16] #17 closed

[2016-11-23 00:19] #27 closed

[2016-11-23 00:20] jhnns commented on #26
Is this still present with node-libs-browser@1.1.0?

[2016-11-24 13:30] jhnns commented on #40
There was a hidden breaking change with `crypto-browserify` so that we couldn't upgrade it to the most recent version. However, [this PR](https://github.com/webpack/webpack/pull/3368) introduces the most recent versions without breaking change to webpack-1.

[2016-11-24 13:30] jhnns commented on #39
There was a hidden breaking change with `crypto-browserify` so that we couldn't upgrade it to the most recent version. However, [this PR](https://github.com/webpack/webpack/pull/3368) introduces the most recent versions without breaking change to webpack-1.

[2016-11-24 13:31] jhnns commented on #17
There was a hidden breaking change with `crypto-browserify` so that we couldn't upgrade it to the most recent version. However, [this PR](https://github.com/webpack/webpack/pull/3368) introduces the most recent versions without breaking change to webpack-1.

[2016-12-12 11:00] ORESoftware opened #47 "how to install?"
npm install --save node-libs-browser?

Can this info be included in the readme?

[2016-12-12 11:01] ORESoftware opened #48 "difference between this and https://github.com/webpack/node-loader"
Confused as to the difference between this library

and

https://github.com/webpack/node-loader

Please let me know if the difference is documented somewhere, thank you

[2016-12-19 12:34] sojimon commented on #26
I used webpack-dev-server,  "version": "2.1.0-beta.11" and get the following error.

ERROR in (webpack)-dev-server/client?http://localhost:3000
Module not found: Error: Can't resolve 'strip-ansi' in '/var/www/ng2/ng2-admin/node_modules/webpack-dev-server/client'

ERROR in (webpack)-dev-server/client/socket.js
Module not found: Error: Can't resolve 'sockjs-client' in '/var/www/ng2/ng2-admin/node_mo

[2016-12-19 12:35] SpaceK33z commented on #26
@sojimon this generally happens when you overwrite `resolve.modules`, but don't include `'node_modules'` in the array.

[2016-12-20 08:55] sojimon commented on #26
@SpaceK33z  Now it is ok.Thanks ..

[2016-12-20 09:59] SpaceK33z commented on #26
I'm fairly sure @be-dcodeit's issue is because of the same config issue from above. Let's close this, we can always re-open if it turns out to be an issue of node-libs-browser, but I'm pretty sure it won't.

[2016-12-20 09:59] #26 closed

[2016-12-21 15:35] ysangkok opened #49 "no tag for v2.0.0"
v2.0.0 has not been tagged in git

[2017-01-19 10:46] dignifiedquire opened #51 "Updated and more complete version of the zlib shim"
There is a new version of the browserify-zlib shim to zlib available at https://github.com/ipfs/browserify-zlib, it fixes some bugs and more importantly, it adds support for dictionaries.

It seems that not a lot of people use that feature, but it is essential for libp2p-spdy in the browser, which is part of js-libp2p and js-ipfs. Right now we are replacing the shim in our build tool, but it would

[2017-01-19 11:00] diasdavid commented on #51
Yes please!

[2017-01-19 14:25] haadcode commented on #51
Merging this would be hugely beneficial for the https://github.com/ipfs/js-ipfs project.

We're currently working towards supporting https://github.com/facebookincubator/create-react-app which doesn't support custom webpack configs. As js-ipfs in itself uses a fork of browserify-zlib, we need to include it in our build tools (https://github.com/dignifiedquire/aegir/blob/master/config/webpack.js#L3

[2017-01-19 15:10] SpaceK33z commented on #51
@haadcode for us it's important to know if there are breaking changes in the new library compared to the curret one and if so, which one. Also a PR implementing this would be appreciated.

[2017-01-19 15:25] dignifiedquire commented on #51
@SpaceK33z thank you for the response. There should not be any breaking changes, only bug fixes and feature additions. I looked through the changelogs again and there where no breaking changes listed for zlib in [v4](https://github.com/nodejs/node/blob/v6.x/doc/changelogs/CHANGELOG_V4.md), [v5](https://github.com/nodejs/node/blob/v6.x/doc/changelogs/CHANGELOG_V5.md) or [v6](https://github.com/node

[2017-01-19 15:26] diasdavid commented on #51
@dignifiedquire go ahead and publish it to npm, name suggestion `browserify-zlib-complete` :)

[2017-01-19 15:35] SpaceK33z commented on #51
@dignifiedquire okay, without breaking changes we can publish this as a minor version. Yes publishing it on npm and opening a PR would be a good idea. Note that I don't maintain this repo myself, but I'll try to get some others on it after your PR.

[2017-01-19 15:39] SpaceK33z commented on #49
thanks, fixed it.

[2017-01-19 15:39] #49 closed

[2017-01-19 16:42] dignifiedquire commented on #51
Published https://www.npmjs.com/package/browserify-zlib-next and created PR #52

[2017-03-07 20:03] dey-dey opened #53 "use mock-fs to mock fs"
would something like this work? https://www.npmjs.com/package/mock-fs

[2017-03-17 15:45] diasdavid commented on #51
beep boop. Can we get an update from the devs on this? Thank you!

[2017-04-05 06:12] ORESoftware commented on #53
I think browserify-fs or fs-browserify might be better? dunno.

but definitely need an fs polyfill more than anything for most people

[2017-04-05 09:08] jhnns commented on #48
node-loader loads native C addons into webpack when `target` is `node`. This module provides shims and replacements for node core modules (written in JS) that can also run in common browsers.

[2017-04-05 09:08] #48 closed

[2017-04-05 22:49] ORESoftware opened #55 "Would like to use my own polyfill"
I am looking to use my own polyfills/shims with Webpack

e.g.:

[code]

is this already supported? I don't believe I have seen this documented, but it would be a great feature, please advise

[2017-04-05 22:51] ORESoftware commented on #55
I tried it, and I get an error:

[code]

this is an important feature, that I really need, thanks!

[2017-04-05 22:52] ORESoftware commented on #55
@sokra would you accept a PR for this?

[2017-04-06 07:37] jhnns commented on #55
It should be possible to use [`resolve.alias`](https://webpack.js.org/configuration/resolve/#resolve-alias) to use your own shims.

[2017-04-07 22:38] ORESoftware commented on #55
@jhnns thanks, not as far as I can tell -

[code]

If I try to pass my own value, it won't take. The value I pass needs to be one of false | true | 'mock' | 'empty'

I need Webpack to be able to accept a dynamic value. Is that clear?

[2017-04-18 13:32] wires commented on #51
Bump ;)
Ran into this, would be nice if it can get merged and released *cheers* 👍

[2017-05-03 17:47] bdjnk opened #59 "Dependency `assert` broken; webpack 2."
I encountered [Error `Uncaught TypeError: util.inherits is not a function`](https://github.com/webpack/webpack/issues/1019) while upgrading to webpack 2.

I traced the cause to the dependency `"inherits": "2.0.1"` instead of `"^2.0.1"` or the like in [`util`](https://github.com/defunctzombie/node-util), which is used by [`assert`](https://github.com/defunctzombie/commonjs-assert), which is used by

[2017-05-08 17:46] haggholm opened #60 "Buffer is broken for target: "webworker""
The `buffer` module currently used (v4) performs a check of a variable explicitly on the `global` variable, something like `if(global.TYPED_ARRAY_SUPPORT)`. As mentioned in #31, `global` is not polyfilled—at least it isn’t when building a Webpack bundle for the `webworker` target. As a result, code that relies on Webpack polyfilling the `buffer` module will break in webworkers.

This can be trivia

[2017-05-19 07:01] anlexN opened #61 "how to polyfill "require" ? should i otherwise " npm install events" when using "events" browser implementation?"
how to polyfill "require" ? should i otherwise " npm install events" when using "events" browser implementation?
![require](https://cloud.githubusercontent.com/assets/8686739/26236610/cdd3034c-3ca3-11e7-95ed-ce390f04fce8.PNG)
![events](https://cloud.githubusercontent.com/assets/8686739/26236609/cdc756aa-3ca3-11e7-8220-01f2909229f5.PNG)

[2017-06-03 16:04] dignifiedquire commented on #51
This is fixed in browserify-zlib@0.2.0: http://npmjs.com/browserify-zlib

[2017-06-03 16:04] #51 closed

[2017-08-13 15:01] streamich commented on #53
@ORESoftware I have added `fs` polyfill pls review my PR #64

[2017-08-13 15:03] streamich opened #65 "Added fs browser implementation please review"
#64

[2017-08-14 16:22] webpack-bot opened #66 "Uncaught TypeError: os.homedir is not a function"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
After compiling a bundle with deps which use `os.homedir` function (for example `is-reachable`) i've got the error in the runtime: `Uncaught TypeError: os.homedir is not a function`
In the bundle `os.homedir` is undefined.

**What is the expected behavior?**
`os.homedir` shoud be a function

Please upd

[2017-08-20 20:43] streamich commented on #53
See this: https://github.com/streamich/memfs-webpack

[2017-09-08 12:17] nezed opened #69 "Support WHATWG URL"
It seems like there is no activity in
- https://github.com/defunctzombie/node-url/issues/37
- https://github.com/webpack/webpack/issues/5372

And i propose to replace `node-url` with [jsdom/whatwg-url](https://github.com/jsdom/whatwg-url)

[2017-10-20 23:19] amilajack opened #72 "Question: fs implementation?"
What is holding back adding an fs polyfill? I've seen many implementations for browser fs polyfills for node:
* https://github.com/jvilk/BrowserFS
* https://github.com/matthewp/fs
* https://github.com/mafintosh/browserify-fs

Seems possible

[2017-10-23 19:58] mightyiam commented on #69
url-parse is so much more popular. Has a fancy test suite.

[2017-10-27 10:17] goto-bus-stop commented on #72
I don't think there's a one-size-fits-all browser `fs` polyfill. a `readFile` call in the browser may have to do a request to a server like in BrowserFS, if the file is a template or image resource. If the file is a user configuration file, using a client-side store like browserify-fs makes more sense. that makes it difficult to pick a single polyfill.

[2017-10-30 21:35] ORESoftware commented on #72
I have my own fs polyfill, just for reference, it's here:

https://github.com/sumanjs/suman-browser-polyfills/blob/master/modules/fs.js

I generated it by looping through all the fs methods and just allowing for both a synchronous return and a callback. It seems to work ok, was quick and dirty.

Here is how I generated it:
https://github.com/sumanjs/suman-browser-polyfills/blob/master/lib/src/fs.j

[2017-12-21 08:55] doubleTotoo opened #73 "请求报错 code: MissingDateHeader"
code: MissingDateHeader   需要配置什么 文件吗

[2018-01-23 23:57] sawyerh commented on #69
Node v7+ includes [a browser-compatible `URL` class](https://nodejs.org/api/url.html#url_the_whatwg_url_api). For folks who want to use the built-in class, is there a way to ignore the `url` dependency installed by `node-libs-browser`?

[2018-02-27 07:04] pravi opened #75 "crypto-browserify needs help"
node-libs-browser is also affected by this issue https://github.com/crypto-browserify/diffie-hellman/issues/22  but its author needs help. Can webpack team help?

[2018-04-04 07:32] neutraali opened #76 "console polyfill outdated"
As mentioned [here](https://github.com/Raynos/console-browserify/issues/14) the current console polyfill is missing functions (such as, say `console.table`).

It would be nice if the polyfill was switched into something more current, like [this one](https://github.com/paulmillr/console-polyfill).

[2018-05-01 11:48] azu opened #78 "Incompatibility between Node.js core libs and webpack's lib"
I've collected the gap between Node.js core lib and webpack/browserify's shim lib.

latest results is in following repository.

- [azu/node-browser-shim-gap: The gap issue between Node.js and Browser shims.](https://github.com/azu/node-browser-shim-gap).

## Env

- Node.js 10.0.0
- webpack 4.6.0

## Gap list

|    Node.js     |               Browser shim               |                  Issue

[2018-05-18 13:26] goto-bus-stop commented on #78
eventNames, getMaxListeners, prependListener and prependOnceListener are available in events@2.0.0 (https://github.com/webpack/node-libs-browser/pull/74). `off` will be available in events@3.0.0.

[2018-10-01 20:36] jaibatrik commented on #69
@sawyerh I got around this by using the `universal-url` package.

[2018-11-06 16:43] wmhilton commented on #78
path.posix, path.parse, and parth.format are available in path-browserify@1.0.0

[2018-11-16 22:27] wmhilton opened #86 "Publish on npm already!"
It's been a year since `node-libs-browser@2.1.0` was published in Nov 2017. I don't want to have to install this module from source just to get `util.promisify`. 😁

[2018-12-09 00:16] futpib opened #87 "Old path-browserify is very slow on long pathnames (should I say ReDoS'able?)"
Currently used here `path-browserify@0.0.0`:
[code]

Node 11 built-in path module:

[code]

Latest `path-browserify@1.0.0`:
[code]

Currently the fact that webpack pulls `path-browserify@0.0.0` via this module forces me to install `path-browserify@1.0.0` and alias it manually in `webpack.config.js` like this:

[code]

I hope you can update it to `1.0.0`.

[2019-01-17 12:23] sokra commented on #86
published 2.2.0

[2019-01-17 12:23] #86 closed

[2019-02-06 16:34] jhnns commented on #78
@azu thanks for compiling that list. That will definitely be helpful when updating the libraries 👍

We can't do that too frequently as updating these libraries might be breaking change for a lot of people.

[2019-02-06 17:56] goto-bus-stop commented on #87
Added a PR that specifically fixes this vulnerability without introducing breaking changes: https://github.com/webpack/node-libs-browser/pull/89

[2019-02-06 18:01] goto-bus-stop commented on #78
`util.promisify` and `util.callbackify` are available in util@0.11.0.

[2019-02-27 08:46] wh1tecat-nya commented on #69
in node v11, url.parse is deprecated.
so recommended url.URL class.
we need change package or update node-url package.

[2019-04-15 08:44] navono opened #90 "Module not found: Can't resolve 'util'"
## Description
I create a app with `create-react-app` with `--typescript`, and add some lib to it. But when I execute start script, a compilation error has occurred:
[code]

I'm not explicit import `browserify-zlib`, so I search it in project, in `yarn.lock` file, I found this:
[code]

- [x] I tried add `util` package, still not work
- [x] I tried add `util` in `webpack.config.js` like this:
[code

[2019-04-17 18:12] jfirebaugh commented on #59
The root issue here is https://github.com/browserify/commonjs-assert/issues/38.

[2019-06-14 14:26] satazor opened #92 "process.nextTick polyfill is slow when tab is unfocused"
The `nextTick` polyfill is supplied by https://github.com/defunctzombie/node-process/blob/master/browser.js which uses timers. See: https://github.com/defunctzombie/node-process/issues/86.

Because timers are often throttled when a tab is not active to improve battery life, they only run at 1Hz (once every second). This has a drastic performance impact in those scenarios.

It seems that the author

[2019-08-11 07:47] Borewit opened #93 "buffer 4.9.1 can cause errors"
Calling a read function on the embedded buffer without any argument will throw an exception.
This is major incompatibility issue with node.js buffer.

Error message thrown: "RangeError: offset is not uint"

Corresponding issue: feross/buffer#237

I suggest to reconsider PR: #68, which does fix the issue

[2019-10-07 19:43] millsp opened #94 "why has this become deprecated?"
I see this is still in the docs for webpack. How should we polyfill nodejs apis in the future? @sokra

[2019-10-10 06:30] sokra commented on #94
You can still use the individual polyfills, only the wrapper package has been deprecated as webpack 5 will no longer use it by default.

[2019-10-10 13:27] millsp commented on #94
Thanks! This package was really convenient, though.

[2019-10-10 13:27] #94 closed, assigned to nobody

[2019-12-02 06:09] guimard opened #96 "Compatibility with new readable-stream"
Hi,

to use recent readable-stream, I had to patch your module:
[code]

[2019-12-18 23:17] pcowgill commented on #94
Should we add the reason for deprecation in the `README` too?

[2019-12-18 23:17] pcowgill commented on #94
Does webpack 5 use the individual polyfills, and if so, is there an up-to-date list of those?

[2020-02-21 18:43] sbasehart commented on #90
I'm also having this error with Angular, was there any solution?

[2020-02-24 05:02] navono commented on #90
it's too long after I commit this issue, and totally foget how to resolve this error.

[2020-06-18 07:40] malinin01 commented on #94
@sokra will it still be possible to assign polyfills to native node.js modules in webpack5 or developers will need to create and maintain such a wrapper package themselves?

[2020-06-27 23:08] jbnv opened #97 "TypeError: The "original" argument must be of type Function"
What does this error mean, and how do I resolve it?

[code]

[2020-07-16 13:57] mitchell-frost commented on #97
I would like to work on this issue. Where is it supposed to be changed?

[2020-07-16 13:59] mitchell-frost commented on #96
Are these changes supposed to be made to the module? If so, can I work on this?

[2020-07-16 18:15] guimard commented on #96
Hi @michael-ciniawsky, this is needed with readable-stream ≥ 3

[2020-07-30 07:19] 0x1af2aec8f957 opened #99 "path-browserify 0.X won't support path.parse method"
path-browserify path does not support methods such as parse, and it is expected to be upgraded to version 1. X

[2020-07-30 07:24] 0x1af2aec8f957 commented on #99
https://github.com/webpack/webpack/issues/3494#issuecomment-475874951

[2020-09-02 23:53] jimmywarting commented on #94
☝️  would also like to know why, but figure it had to do with webpack 5?

[2020-09-03 04:58] sokra commented on #94
You don't need to create your own wrapper package. In webpack 5 we show an error message with steps what you need to do when you or some node_modules use some node.js built-in module without browser fallback.

[2020-10-08 09:22] bsomeshwer opened #102 "The Elliptic package 6.5.2 for Node.js allows ECDSA signature malleability via variations in encoding, leading '\0' bytes, or integer overflows."
Hi

Issue:

[code]

Could you please let me know what could be the reason for this?

[code]

Thanks

Image reference:

**

**

![image](https://user-images.githubusercontent.com/39646194/95439792-ba847a80-0975-11eb-8960-5e8756e2658f.png)

[2021-01-15 15:48] pablocasas74 opened #103 "The new version of readable-stream is incompatible"
The new version of readable-stream 3.0, does not have the files of the attached image, therefore it produces error
![Imagen_000629](https://user-images.githubusercontent.com/39717110/104747645-87e5dd00-572f-11eb-98d9-48419d646f3c.jpg)

This files is include but in a directory lib/ with diferent names.

They are aware of this error?

[2021-01-20 05:51] ghost commented on #103
Should be already mentioned here: https://github.com/webpack/node-libs-browser/issues/96

[2021-01-20 10:04] xuxianer opened #104 "New version of stream browser/ index.js"
New version of stream browser/ index.js ， I use node v12.*  ,it's can't  find moule
 it should be
Stream.Readable = require('../readable-stream/readable.js');
Stream.Writable = require('../readable-stream/writable.js');
Stream.Duplex = require('../readable-stream/duplex.js');
Stream.Transform = require('../readable-stream/transform.js');
Stream.PassThrough = require('../readable-stream/passthrough

[2021-01-21 07:28] #104 closed, assigned to nobody

[2021-01-21 09:02] xuxianer opened #105 "dependencies:{"readable-stream": "^2.3.3" } in package.json ,have a mistake in building project"
The latest version of readable stream has been updated to 3.0. They have modified the required path of version 3.0, but the package.json It's still version 2.0. I made a mistake in building a project with node v12.0. Can the author update this version

[2021-01-21 11:34] derrickpatrick6969 commented on #105
Good for you

On Thu, Jan 21, 2021, 4:03 AM Kline <notifications@github.com> wrote:

[2021-02-07 18:55] aka-somix commented on #97
I'm having the exact same problem, has anyone find a way to fix it ?

[2021-05-16 17:21] LeileiChui commented on #97
I also encountered this problem

[2021-09-21 11:21] jimmywarting opened #109 "Deprecate the npm package?"
If you are not accepting more feature PR, then maybe it's time to deprecate the npm package?

[2021-10-02 08:19] Traineratwot commented on #97
I also encountered this problem, I Write electron program.
because of this error I have to write
[code]
instead of
[code]

[2021-11-13 17:36] niksy commented on #69
If anyone is looking for up-to-date implementation, I’ve created [package](https://github.com/niksy/node-stdlib-browser) which includes latest Node features.

[2021-11-13 17:38] niksy commented on #109
I agree. `node-libs-browser` is still very useful, but should be deprecated and that should be communicated when installing it.

As alternative, I’ve made [package](https://github.com/niksy/node-stdlib-browser) which forks this one and adds additional and latest Node features, and should also work with Rollup and other bundlers.

[2021-11-13 17:39] niksy commented on #78
Since `node-libs-browser` is not active and updated anymore, I’ve taken time and created [package](https://github.com/niksy/node-stdlib-browser) which is based on this one but updates it to modern implementation.

[2021-11-13 17:42] niksy commented on #96
If anyone is still facing this problem, I’ve created [updated version](https://github.com/niksy/node-stdlib-browser) of `node-libs-browser` which updates these API changes.

[2021-11-13 17:43] niksy commented on #59
`assert` module has been update in [updated version](https://github.com/niksy/node-stdlib-browser) of `node-libs-browser`, so you can try that!

[2021-12-21 02:42] ldhnet commented on #97
I also encountered this problem, Pending resolution......

[2022-02-09 07:20] niksy commented on #94
If anyone is looking up-to-date version of polyfills, I’ve created [`node-stdlib-browser`](https://github.com/niksy/node-stdlib-browser) as alternative which is updated and has many other features such as official support for other bundlers.

[2022-09-23 16:34] joebnb opened #111 "good idea why stop develop"
seems it can be webcontainer's run time,and make webpack or other devtools into browser